@import '~react-image-gallery/styles/scss/image-gallery';
@import 'src/styles/variable';

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
  outline: none;
  border: 2px solid $color-rose;
}

.image-gallery-icon {
  opacity: 0;
}
