@import 'src/styles/variable';
.content{
  display: flex;
  flex-direction: column;
}
section.introDesktop {
  margin: 100px 0 150px;
  display: flex;
  @media (max-width: 767px) {
    order: 3;
  }

  .imgPart {
    width: 560px;
    min-width: 560px;
    height: 560px;
    display: flex;
    display: inline-block;
    position: relative;

    &_link {
      position: absolute;
      background-color: $body-bcg;
      position: absolute;
      top: -25px;
      left: -15px;
    }

    &_wrapper {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &_info {
      max-width: 280px;
      background-color: $body-bcg;
      position: absolute;
      right: -10px;
      bottom: -40px;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      padding: 15px;
    }
  }

  .textPart {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;

    &_date {
      display: inline;

      font-family: Butler Stencil;
      font-style: normal;
      font-weight: normal;
      font-size: 108px;
      line-height: 130px;
      padding: 120px;
      color: $color-rose;
      // padding: 100px;
      background-image: url('/img/img_date-wrapper.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .info {
      max-width: 330px;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
    }
  }
}

.shop {
  margin: -10px;
  padding: 30px;
  position: relative;
  margin-bottom: 180px;
  background-image: url('/img/shop_border.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: 768px) {
    display: flex;
    background-image: none;
    margin-top: 70px;
    margin-bottom: 40px;
    padding: 15px;
  }
  @media (max-width: 700px) {
    flex-direction: column;

  }

  &_title {
    text-align: center;
    font-family: Butler Stencil;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 auto;
    display: block;

    &:after {
      display: none;
    }

    @media (max-width: 768px) {
      margin: 0 0 10px;
      text-align: start;
      padding: 0;

      &:after {
        display: inline-block;
      }
    }
    @media (max-width: 600px) {
      font-size: 26px;
      line-height: 31px;
      &:after {
        width: 39px;
        height: 21px;
      }
    }
  }

  &_link {
    margin-top: 30px;
    margin-bottom: 50px;
    @media (max-width: 768px) {
      display: none;

    }

  }

  &_description {
    padding: 5px;
    position: absolute;
    transform: translateY(-114%);
    max-width: 38%;
    right: 30px;
    background-color: $body-bcg;
    @media (max-width: 1100px) {
      right: 50px;
      transform: translateY(-120%);
      font-size: 12px;
      max-width: 33%;
    }
    @media (max-width: 768px) {
      position: static;
      transform: unset;
      right: unset;
      max-width: 100%;
      padding: 0;
      font-size: 14px;
      line-height: 19px;
    }
  }

  .textPart {
    @media (max-width: 768px) {
      margin-right: 30px;
    }
    @media (max-width: 700px) {
      margin-right: 0;
      margin-bottom: 15px;

    }
  }

  .cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 768px) {
      background-image: url('/img/shop_border.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      min-width: 50%;
      max-width: 50%;
      flex: 0 50%;
    }
    @media (max-width: 700px) {
      margin: 0 -10px;
      background-image: none;
      overflow: scroll;
      flex: unset;
      min-width: 100%;
      max-width: 100%;
      flex-wrap: unset;
      justify-content: flex-start;
    }

    &_item {
      position: relative;
      flex-basis: calc(25% - 30px);
      margin: 15px;
      min-width: 200px;
      box-sizing: border-box;
      @media (max-width: 768px) {
        flex: 0 40%;
        min-width: unset;
        &:nth-child(n + 4) {
          display: none
        }
        &:last-child {
          display: initial;
        }
      }
      @media (max-width: 700px) {
        flex-basis: calc(30% - 30px);
        flex: unset;
        min-width: 25%;
        margin: 10px;
        &:nth-child(n + 7) {
          display: initial
        }
      }
      @media (max-width: 600px) {
        min-width: 40%;
      }

      &::before {
        content: '';
        display: block;
        padding-top: 100%;
      }

      &-content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        img {
          width: 101%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

}

section.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  @media (max-width: 768px) {
    display: none;
  }

  .textPart {
    max-width: 500px;
    margin-right: 30px;

    p {
      white-space: pre-wrap;
      font-size: 18px;
      line-height: 25px;
    }
  }

  .imgPart {
    position: relative;
    max-width: 550px;

    .about_link {
      position: absolute;
      left: -40px;
      top: -40px;
      color: $color-rose;
      max-width: 360px;
      background-color: $body-bcg;

      &::after {
        background-color: $color-rose;
      }
    }

    img {
      width: 100%;
    }
  }
}

section.contact {
  display: flex;
  @media (max-width: 768px) {
    display: none;
  }
  .imgPart {
    margin-right: 30px;
    max-width: 570px;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .formPart {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;

    &_title {
      padding: 19px 15px 9px;
      background: rgba(196, 196, 196, 0.1);
      margin-bottom: 30px;
    }

    &_input {
      margin-bottom: 20px;
    }

    &_btn {
      max-width: 190px;

      margin-top: 20px;
      font-size: 22px;
      line-height: 27px;
    }
  }
}
