@import "../../variable";

footer {
  .info-list {
    max-width: 1170px;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 20px;
    background: rgba(255, 255, 255, 0.4);

    &__item {
      display: flex;
      align-items: center;
      margin: 20px 30px;

      .imp-part {
        background-color: $color-rose;
        transition: background-color 0.3s ease;
        margin-right: 25px;
        min-width: 70px;
        max-width: 70px;
        height: 70px;
      }

      &:hover {
        .imp-part {
          background-color: black;
        }
      }

      &:nth-child(1) {
        .imp-part {
          mask: url("/img/icon_info.svg") no-repeat center / contain;
          -webkit-mask: url("/img/icon_info.svg") no-repeat center / contain;
        }
      }

      &:nth-child(2) {
        .imp-part {
          min-width: 150px;
          max-width: 150px;
          height: 150px;
          mask: url("/img/icon_michelangelo.svg") no-repeat center / contain;
          -webkit-mask: url("/img/icon_michelangelo.svg") no-repeat center /
            contain;
        }
      }

      &:nth-child(3) {
        .imp-part {
          mask: url("/img/icon_phone.svg") no-repeat center / contain;
          -webkit-mask: url("/img/icon_phone.svg") no-repeat center / contain;
        }
      }

      .text-part {
        .link-list {
          li {
            a {
              font-weight: normal;
              font-size: 14px;
              line-height: 24px;
              transition: color 0.2s ease;

              &:hover {
                color: $color-rose;
              }
            }

            .activeLink {
              color: $color-rose;
            }
          }
        }

        .contact-list {
          a,
          p {
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            transition: color 0.2s ease;
          }

          a:hover {
            color: $color-rose;
          }
        }
      }
    }
  }

  .privacy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;

    .img-part {
      display: block;
      min-width: 58px;
      max-width: 58px;
      height: 39px;
      background-image: url("/img/logo.svg");
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 30px;
    }

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
    }
  }
}
