@import '../../../variable';

main {
  min-height: unset !important;
}

section.contact {
  @media (max-width: 767px) {
    padding: 0;
  }

  .formWrapper {
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }

  .imgPart {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    max-width: 570px;
    width: 100%;
    @media (max-width: 767px) {
      flex-direction: column-reverse;
      max-width: unset;
    }

    img {
      width: 100%;
    }
  }

  .formPart {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (max-width: 767px) {
      align-items: center;
      max-width: unset;
    }
    @media (max-width: 520px) {
      align-items: start;
    }

    &_title {
      padding: 19px 15px 9px;
      max-width: 500px;
      background-color: $color-header-bcg;
      margin: -50px 0 30px -60%;
      cursor: default;
      @media (max-width: 767px) {
        display: none;
      }

      &:hover {
        color: black;
      }

      &:after {
        display: none;
      }
    }

    h1 {
      font-weight: bold;
      font-size: 0;
      line-height: 0;
      text-transform: uppercase;
      color: $color-rose;
      margin-bottom: 30px;
      @media (max-width: 767px) {
        margin-top: 10px;
        font-size: 36px;
        line-height: 40px;
      }
    }

    &_input {
      margin-bottom: 40px;
      min-height: 46px;
      @media (max-width: 767px) {
        width: 100%;
      }

      input,
      select,
      textarea {
        padding-bottom: 20px;
      }
    }

    &_btn {
      max-width: 190px;
      margin: 30px auto;
      font-size: 22px;
      line-height: 27px;
      @media (max-width: 767px) {
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 60px;
        font-size: 18px;
        max-width: 100px;
      }
    }
  }
}

section.additional {
  background: rgba(222, 215, 210, 0.2);
  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 0;
    background: unset;
  }

  .content {
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  .textPart {
    margin-right: 50px;
    max-width: 450px;
    @media (max-width: 767px) {
      max-width: unset;
      margin-right: 0;
      img,
      .title,
      .descriptionText {
        display: none !important;
      }
    }

    .title {
      font-weight: bold;
      font-size: 38px;
      line-height: 46px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 25px;
    }

    img {
      display: block;
      max-height: 350px;
      margin: 15px auto 70px;
    }

    .links {
      display: flex;
      flex-direction: column;
      text-align: center;
      @media (max-width: 767px) {
        flex-direction: column-reverse;
        .emailLink {
          display: none;
        }
      }

      a {
        display: block;
        font-weight: 900;
        font-size: 30px;
        line-height: 41px;
        color: $color-rose;
      }

      p {
        margin: 12px auto;
        max-width: 180px;
        font-size: 18px;
        line-height: 25px;
        color: $color-rose;
      }
    }
  }

  .imgPart {
    padding-top: 50px;
    max-width: 350px;
    @media (min-width: 767px) {
      .contactBr {
        display: none;
      }
    }
    @media (max-width: 767px) {
      max-width: unset;
      text-align: center;
      .descriptionText {
        display: none;
      }
    }

    img {
      width: 100%;
      margin-bottom: 26px;
      @media (max-width: 767px) {
        display: none;
      }
    }

    p {
      margin-bottom: 26px;
      font-size: 18px;
      line-height: 25px;
    }
  }
}
