@import '../variable';
.linkList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .link {
    margin: 0 20px;
    a {
      font-weight: normal;
      font-size: 30px;
      line-height: 41px;
      text-transform: uppercase;
      color: black;
      white-space: nowrap;
    }
    .activeLink {
      color: $color-rose;
    }
  }
}

.cart {
  display: inline-flex;
  min-width: 90px;
  transition: 0.2s ease;
  align-items: center;
  .iconCart {
    display: inline-block;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    background-color: $color-rose;
    mask: url('/design/images/icon_cart.svg') no-repeat center / contain;
    -webkit-mask: url('/design/images/icon_cart.svg') no-repeat center / contain;
    transition: background-color 0.2s ease;
    margin-right: 3px;
  }
  .counter {
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: $color-rose;
    transition: color 0.2s ease;
  }

  &:hover {
    .iconCart {
      background-color: black;
    }
    .counter {
      color: black;
    }
  }
}
