@import '../../variable';

.header {
  width: 100%;
  position: relative;
  background-color: $color-header-bcg;
  padding: 0 150px;
  @media (max-width: 1300px) {
    padding: 0 80px;
  }
  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    padding: 0 20px;
    z-index: 100;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 150px;
    height: 360px;
    background-image: url('/img/header_curtain.svg');
    pointer-events: none;
    background-repeat: no-repeat;
    @media (max-width: 1300px) {
      width: 80px;
      height: 190px;
      background-size: contain;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
    transform: scale(-1, 1);
  }

  .logoPart {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1024px) {
      padding-bottom: 10px;
    }
    @media (max-width: 767px) {
      padding: 10px 0;
      justify-content: space-between;
    }

    a {
      display: flex;
      align-items: center;
    }

    .cartLogo {
      display: none;
      @media (max-width: 767px) {
        display: unset;
      }
    }

    .logoImg {
      display: inline-block;
      min-width: 110px;
      max-width: 110px;
      width: 100%;
      height: 30px;
      background-color: black;
      mask: url('/img/main_logo.svg') no-repeat center / contain;
      -webkit-mask: url('/img/main_logo.svg') no-repeat center / contain;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $color-rose;
      }
    }

    .hamburger {
      display: none;

      @media (max-width: 767px) {
        display: block;
      }
      cursor: pointer;
      height: 13px;
      width: 36px;
      position: relative;
      z-index: 101;
      transition: all 1s ease;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 36px;
        height: 2px;
        background-image: url('/img/hamburger/ham-first.svg');
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.3s ease;
      }

      span {
        position: absolute;
        top: 5px;
        display: block;
        width: 36px;
        height: 2px;
        transition: all 0.5s ease;
        background-image: url('/img/hamburger/ham-second.svg');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
      }

      &::after {
        content: '';
        position: absolute;
        top: 10px;
        right: 0;
        display: block;
        width: 36px;
        height: 2px;
        background-image: url('/img/hamburger/ham-third.svg');
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.3s ease;
      }

      &.active {
        &::before {
          transform: rotate(-45deg);
          transition: all 0.5s ease;
          top: 50%;
        }

        span {
          opacity: 0;
        }

        &::after {
          width: 36px;
          transform: rotate(45deg);
          transition: all 0.5s ease;
          top: 50%;
        }
      }

      &-menu {
        position: absolute;
        right: -200%;
        background-color: #fff;
        transition: 1s ease;
        top: 74px;
        width: 100%;
        height: calc(100vh - 74px);
        z-index: 100;
        overflow-x: auto;
        @media (min-width: 769px) {
          display: none !important;
        }

        &.active {
          right: 0;
        }

        .bottom-block {
          display: flex;
          flex-direction: column;
          margin-top: auto;
          @media (min-width: 521px) {
            height: calc(100vh - 74px);
            border-top: 1px solid white;
          }
        }

        .content {
          overflow: scroll;
          min-height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          nav {
            // height: 100%;
            border-bottom: 0;
          }
        }
      }
    }
  }

  .divider {
    width: 100%;
    margin: 0 auto 30px;
    height: 6px;
    background-image: url('/img/divider-line.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 1024px) {
      display: none;
    }
  }

  .navPart {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.aside {
  display: flex;
  position: fixed;
  top: 55px;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: none;
  opacity: 0;
  z-index: 100;
  transition: 1s ease;
  width: 100vw;
  height: 100vh;

  .asideContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    width: 80vw;
    right: -100vw;
    background-image: url('/img/bcg.jpg');
    background-size: cover;
    height: calc(100vh - 20vh);
    transition: 1s ease;
    padding-bottom: 50px;

    .AsidePhoneNumber {
      margin-top: 100px;
    }
  }

  &.active {
    opacity: 1;
    background: rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(4px);
    pointer-events: unset;

    .asideContent {
      right: 0;
      opacity: 1;
    }
  }

  ul {
    flex-direction: column;

    li {
      width: 100%;
      text-align: center;
      display: grid;

      a {
        padding: 20px 0 !important;
        font-weight: normal !important;
        font-size: 14px !important;
        line-height: 19px !important;
      }
    }
  }
}

@media (min-width: 769px) {
  .aside {
    display: none;
  }
}
