@import 'src/styles/variable';

main {
  min-height: unset !important;

  overflow-x: hidden;
    
}

@media screen and (max-width: 1440px) {
  overflow-x: hidden; 
}

section {

  padding: 70px 0;

  h2 {
    color: $color-rose;
    font-family: Butler Stencil;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 41px;
  }

  p {
    overflow-wrap: break-word;
    font-size: 18px;
    line-height: 25px;
  }

  .column {
    max-width: 380px;
    margin-bottom: 80px;

    &:nth-child(2) {
      align-self: flex-end;
    }
  }
}

section.intro {

  @media screen and (max-width: 1440px) {
    .content {
      padding: 0 60px;
    }
  }

  background-color: #ded9d4;

  // .content {
  background-size: cover;
  background-position: center;
  background-image: url('/img/aboutPage/bcg_aboutPage.jpeg');
  background-repeat: no-repeat;
  // }

  .textPart {
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .column {
      &:nth-child(1) {
      }

      &:nth-child(2) {
        align-self: flex-end;

        h3 {
          display: flex;
          align-items: center;
          white-space: nowrap;

          &::after {
            content: '';
            width: 120px;
            height: 50px;
            margin-left: 30px;
            background-size: cover;
            background-position: center;
            background-image: url('/img/icon_longArrow.svg');
            background-repeat: no-repeat;
          }
        }

        p {
          &::after {
            content: '';
            display: inline-block;
            min-width: 13px;
            height: 22px;
            margin-left: 5px;
            margin-bottom: -5px;
            background-size: contain;
            background-position: bottom;
            background-image: url('/img/icon_smile.svg');
            background-repeat: no-repeat;
          }
        }
      }

      &:nth-child(3) {
        margin-bottom: 0;
      }
    }
  }
}

section.cooperation {
  padding-top: 120px;

  @media screen and (max-width: 1440px) {
    .content{
      padding: 0 45px;

      .column {
        padding-right: 10px;

        &:nth-child(3) {
          padding: 70px 57px;
          box-sizing: content-box;
          width: 110%;

          background-image: url("data:image/svg+xml,%3Csvg width='433' height='331' viewBox='0 0 433 331' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M66.9082 257.059C131.759 322.021 220.755 346.568 302.924 321.122C342.871 308.699 383.703 285.049 413.284 250.323C426.684 234.607 434.522 214.999 432.752 192.247C430.982 169.196 421.249 147.941 409.871 129.68C357.915 46.6073 267.149 21.7602 184.6 14.8749C161.972 13.0787 138.838 10.6838 116.083 12.3303C95.6043 13.8271 77.4006 21.6105 64.127 40.7697C51.1063 59.6295 41.878 83.2792 34.7988 106.18C27.4668 130.279 22.7894 155.575 21.146 181.021C20.2611 193.444 20.1347 205.868 20.7668 218.292C21.2725 227.422 22.1574 237.151 27.7196 244.037C34.4196 252.419 45.7969 255.861 54.6459 259.753C65.3912 264.393 76.2628 268.584 87.3873 272.177C131.506 286.696 177.268 293.132 222.904 295.377C246.417 296.575 269.93 296.575 293.443 296.126C316.577 295.677 339.711 294.629 362.592 290.288C373.085 288.342 383.451 285.498 393.564 281.756C400.39 279.212 408.354 276.967 414.169 271.877C420.364 266.489 423.65 257.508 425.673 248.976C431.741 222.782 428.454 193.444 422.765 167.699C416.192 137.314 404.688 107.078 386.232 84.0275C376.877 72.3524 366.132 65.1677 354.249 57.534C339.711 48.1041 325.3 38.6742 310.383 29.9927C289.145 17.4195 267.402 7.5405 243.762 3.64879C211.147 -1.88941 177.521 0.206125 144.653 1.40357C123.416 2.30166 101.293 4.24752 82.9628 18.4672C66.2761 31.4895 54.2667 51.6964 43.0158 70.7059C29.7422 93.3078 17.6064 117.257 7.11401 141.954C3.06874 151.534 -0.850115 162.011 0.161203 173.088C1.17252 184.164 6.73477 193.594 11.7914 202.575C25.697 227.422 39.6026 252.269 53.3818 277.116C58.944 286.995 64.0006 298.221 71.0798 306.753C77.7798 314.836 86.2496 317.68 95.6043 318.129C119.37 319.326 143.263 318.129 167.029 317.979C168.419 317.979 168.293 314.237 166.902 314.237C144.148 314.387 121.266 314.986 98.5118 314.536C86.8817 314.237 77.2742 311.243 69.5629 300.466C62.8629 291.037 57.5535 279.81 51.7384 269.632C38.9705 246.881 26.329 224.129 13.5612 201.378C6.48194 188.655 -0.597285 176.381 2.94233 160.515C5.84986 147.343 12.4234 134.919 17.9857 123.094C28.8573 100.792 40.4875 79.3874 53.2554 59.0308C65.3912 39.7219 79.1704 21.4608 98.7646 13.0787C118.612 4.54688 140.482 5.29528 161.214 4.69656C177.774 4.24751 194.334 3.79847 210.768 4.3972C233.902 5.1456 256.909 8.28891 278.779 17.5691C303.556 28.0468 326.564 43.7633 349.571 58.5818C361.581 66.3652 373.085 73.2505 382.945 84.6263C392.173 95.4033 399.632 108.276 405.699 121.897C417.582 148.69 424.915 179.225 426.305 209.46C427.19 227.721 427.443 257.658 412.652 269.183C406.079 274.422 397.23 276.817 389.771 279.511C379.026 283.253 368.028 285.798 356.903 287.744C335.919 291.336 314.555 292.084 293.317 292.533C208.493 294.479 118.233 289.839 39.3498 248.826C34.0403 246.132 29.2366 242.839 26.329 236.702C23.2951 230.416 23.0423 222.782 22.7894 215.597C22.2838 202.575 22.5366 189.553 23.6743 176.68C25.697 151.983 30.5007 127.585 37.9592 104.235C45.2912 81.3333 54.8988 56.3365 69.5629 38.5245C84.3534 20.1137 104.959 15.773 125.691 15.773C169.557 15.4736 214.813 19.3653 257.794 29.843C296.351 39.4226 334.022 56.0372 366.132 83.5785C381.049 96.4511 394.701 111.419 406.079 128.782C418.72 148.091 429.971 171.142 430.982 195.989C432.12 223.381 417.582 243.139 400.643 259.304C384.967 274.272 367.649 286.995 349.445 297.323C275.745 338.785 189.025 336.989 116.716 292.533C99.2703 281.906 82.9628 268.884 68.0459 253.766C66.6553 252.568 65.8968 256.161 66.9082 257.059Z' fill='black'/%3E%3C/svg%3E%0A");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      .imgPart {
        height: 75%;
        padding-right: 40px;

        img {
          max-height: 447px;
          min-width: 314px;
          padding-right: 20px;
        }
      }

      .actionPart {
        margin-top: -70px;
      }
    }
  }

  @media screen and (max-width: 320px) {
    .content {
      justify-content: center;//TODO: I couldn't add flex, and tried to use <--this, it doesn't work
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 20px;
    justify-content: space-between;

    .textPart {
      display: flex;
      flex-direction: column;
      grid-area: 1 / 1 / 4 / 2;

      h3 {
        color: $color-rose;
      }

      .column {
        &:nth-child(1) {
          h3 {
            display: inline-block;
            background-size: contain;
            background-position: bottom;
            background-repeat: no-repeat;
            padding-bottom: 5px;
            background-image: url("data:image/svg+xml,%3Csvg width='209' height='11' viewBox='0 0 209 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.723805 11C53.1208 9.5925 106.511 10.6716 160.233 6.89552C175.675 5.74627 192.934 5.74627 208.375 4.10448C209.26 3.9403 209.18 0 208.295 0C154.573 5.25373 100.146 2.74071 47.025 5.48143C25.2542 6.60467 16.165 7.38806 0.723805 6.89552C-0.241268 6.89552 -0.241268 11 0.723805 11Z' fill='black'/%3E%3C/svg%3E%0A");
          }
        }

        &:nth-child(2) {
          h3 {
            display: inline-block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            padding: 10px 25px;
            margin-left: -20px;
            background-image: url("data:image/svg+xml,%3Csvg width='107' height='45' viewBox='0 0 107 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M85.3362 6.62473C71.8597 5.8577 58.8499 2.5704 45.5485 0.707593C34.7556 -0.82648 23.5544 -0.00465497 13.6366 4.54278C9.37782 6.46037 4.0689 9.25457 1.26859 12.9802C-1.76508 16.9797 1.38527 21.6915 3.01878 25.6363C4.944 30.1289 6.22747 36.4844 10.8947 39.2786C15.4452 42.018 21.6292 43.0042 26.8797 43.7164C40.2979 45.5244 54.2994 45.0861 67.7759 44.4287C74.8934 44.0999 82.0108 43.5521 89.0699 42.785C93.3871 42.2919 97.9959 41.5249 101.73 39.3334C109.956 34.4024 107.447 25.4719 101.73 19.7191C97.8209 15.8292 92.862 12.761 87.9615 10.0216C82.8276 7.06304 77.402 4.59756 71.6263 3.0087C57.5665 -0.881268 42.6898 2.73476 28.5716 4.65235C24.7795 5.14545 20.9874 5.69333 17.1953 6.18643C13.6366 6.67952 9.84454 6.84389 6.40249 7.7205C3.71886 8.43275 1.32693 11.8296 4.47728 13.5828C5.06068 13.9116 5.23569 12.5419 4.71064 12.2679C4.88566 11.7748 5.06068 11.2817 5.23569 10.7886C5.23569 9.47373 5.93577 8.81627 7.33593 8.92584C7.80264 8.81627 8.26936 8.76148 8.79442 8.70669C10.1362 8.54232 11.4197 8.32317 12.7615 8.1588C15.7952 7.7205 18.8289 7.33698 21.8625 6.89867C27.5215 6.13164 33.2388 5.3646 38.8977 4.54278C49.8656 3.06349 60.6001 1.25548 71.5097 4.26883C81.0774 6.89867 90.1784 11.8844 97.8792 17.8015C101.963 20.9245 106.864 25.6363 106.338 31.0055C105.872 35.7721 101.613 38.5115 97.1208 39.8812C92.5703 41.3057 87.6114 41.5797 82.8859 42.018C77.3436 42.5111 71.743 42.8946 66.2007 43.1138C54.9412 43.6068 43.5649 43.7712 32.3637 42.8946C26.7631 42.4563 21.1624 41.5797 15.8535 39.8265C13.2866 39.0046 10.6613 37.9636 9.02778 35.8269C7.39427 33.6902 6.57751 30.7864 5.52739 28.3757C4.30226 26.0746 3.31048 23.7187 2.31871 21.3628C1.56029 19.5548 1.03523 18.2946 1.26859 16.3223C1.56029 14.0212 2.72709 12.9802 4.47728 11.5557C8.21102 8.6519 12.4115 6.24121 16.9036 4.54278C27.3465 0.598017 38.606 0.707593 49.5156 2.62518C61.4169 4.70714 73.2598 7.2274 85.4529 7.93965C86.0363 7.99444 85.9779 6.67952 85.3362 6.62473Z' fill='black'/%3E%3C/svg%3E%0A");
          }
        }

        &:nth-child(3) {
          padding: 70px 57px;
          box-sizing: content-box;
          max-width: 320px;

          background-image: url("data:image/svg+xml,%3Csvg width='433' height='331' viewBox='0 0 433 331' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M66.9082 257.059C131.759 322.021 220.755 346.568 302.924 321.122C342.871 308.699 383.703 285.049 413.284 250.323C426.684 234.607 434.522 214.999 432.752 192.247C430.982 169.196 421.249 147.941 409.871 129.68C357.915 46.6073 267.149 21.7602 184.6 14.8749C161.972 13.0787 138.838 10.6838 116.083 12.3303C95.6043 13.8271 77.4006 21.6105 64.127 40.7697C51.1063 59.6295 41.878 83.2792 34.7988 106.18C27.4668 130.279 22.7894 155.575 21.146 181.021C20.2611 193.444 20.1347 205.868 20.7668 218.292C21.2725 227.422 22.1574 237.151 27.7196 244.037C34.4196 252.419 45.7969 255.861 54.6459 259.753C65.3912 264.393 76.2628 268.584 87.3873 272.177C131.506 286.696 177.268 293.132 222.904 295.377C246.417 296.575 269.93 296.575 293.443 296.126C316.577 295.677 339.711 294.629 362.592 290.288C373.085 288.342 383.451 285.498 393.564 281.756C400.39 279.212 408.354 276.967 414.169 271.877C420.364 266.489 423.65 257.508 425.673 248.976C431.741 222.782 428.454 193.444 422.765 167.699C416.192 137.314 404.688 107.078 386.232 84.0275C376.877 72.3524 366.132 65.1677 354.249 57.534C339.711 48.1041 325.3 38.6742 310.383 29.9927C289.145 17.4195 267.402 7.5405 243.762 3.64879C211.147 -1.88941 177.521 0.206125 144.653 1.40357C123.416 2.30166 101.293 4.24752 82.9628 18.4672C66.2761 31.4895 54.2667 51.6964 43.0158 70.7059C29.7422 93.3078 17.6064 117.257 7.11401 141.954C3.06874 151.534 -0.850115 162.011 0.161203 173.088C1.17252 184.164 6.73477 193.594 11.7914 202.575C25.697 227.422 39.6026 252.269 53.3818 277.116C58.944 286.995 64.0006 298.221 71.0798 306.753C77.7798 314.836 86.2496 317.68 95.6043 318.129C119.37 319.326 143.263 318.129 167.029 317.979C168.419 317.979 168.293 314.237 166.902 314.237C144.148 314.387 121.266 314.986 98.5118 314.536C86.8817 314.237 77.2742 311.243 69.5629 300.466C62.8629 291.037 57.5535 279.81 51.7384 269.632C38.9705 246.881 26.329 224.129 13.5612 201.378C6.48194 188.655 -0.597285 176.381 2.94233 160.515C5.84986 147.343 12.4234 134.919 17.9857 123.094C28.8573 100.792 40.4875 79.3874 53.2554 59.0308C65.3912 39.7219 79.1704 21.4608 98.7646 13.0787C118.612 4.54688 140.482 5.29528 161.214 4.69656C177.774 4.24751 194.334 3.79847 210.768 4.3972C233.902 5.1456 256.909 8.28891 278.779 17.5691C303.556 28.0468 326.564 43.7633 349.571 58.5818C361.581 66.3652 373.085 73.2505 382.945 84.6263C392.173 95.4033 399.632 108.276 405.699 121.897C417.582 148.69 424.915 179.225 426.305 209.46C427.19 227.721 427.443 257.658 412.652 269.183C406.079 274.422 397.23 276.817 389.771 279.511C379.026 283.253 368.028 285.798 356.903 287.744C335.919 291.336 314.555 292.084 293.317 292.533C208.493 294.479 118.233 289.839 39.3498 248.826C34.0403 246.132 29.2366 242.839 26.329 236.702C23.2951 230.416 23.0423 222.782 22.7894 215.597C22.2838 202.575 22.5366 189.553 23.6743 176.68C25.697 151.983 30.5007 127.585 37.9592 104.235C45.2912 81.3333 54.8988 56.3365 69.5629 38.5245C84.3534 20.1137 104.959 15.773 125.691 15.773C169.557 15.4736 214.813 19.3653 257.794 29.843C296.351 39.4226 334.022 56.0372 366.132 83.5785C381.049 96.4511 394.701 111.419 406.079 128.782C418.72 148.091 429.971 171.142 430.982 195.989C432.12 223.381 417.582 243.139 400.643 259.304C384.967 274.272 367.649 286.995 349.445 297.323C275.745 338.785 189.025 336.989 116.716 292.533C99.2703 281.906 82.9628 268.884 68.0459 253.766C66.6553 252.568 65.8968 256.161 66.9082 257.059Z' fill='black'/%3E%3C/svg%3E%0A");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    .imgPart {
      grid-area: 1 / 2 / 3 / 3;
      position: relative;

      .about_link {
        position: absolute;
        top: -30px;
        background-color: $body-bcg;
        left: -100px;
        pointer-events: none;

        &::after {
          display: none;
        }
      }

      img {
        width: 100%;
        object-fit: contain;
        max-width: 435px;
        object-fit: cover;

        height: 100%;
      }
    }

    .actionPart {
      grid-area: 3 / 2 / 4 / 3;

      p {
        max-width: 90%;
        width: 100%;
        font-size: 14px;
        line-height: 19px;
        color: $color-rose;
        margin-bottom: 20px;
      }

      .link_btn {
        position: relative;

        &::after {
          position: absolute;
          bottom: -250px;
          z-index: 1;
          left: 40%;
          transform: translateX(-50%);
          content: '';
          display: block;
          width: 250px;
          height: 220px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("data:image/svg+xml,%3Csvg width='261' height='211' viewBox='0 0 261 211' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M207.455 3.76479C214.805 21.9991 222.11 40.2577 229.461 58.4921C229.716 58.4166 230.018 58.3167 230.274 58.2412C220.449 40.2455 211.503 21.7871 203.392 3.00718C203.219 2.5663 202.298 2.16438 202.478 2.956C204.459 11.547 194.038 18.9222 188.789 24.1079C181.223 31.5173 173.704 38.9024 166.138 46.3118C166.448 46.5627 166.757 46.8135 167.02 47.0888C168.647 38.7269 176.844 32.4038 182.407 26.58C189.23 19.4434 196.053 12.3068 202.9 5.2164C203.289 4.83399 202.542 3.75006 202.084 4.22746C194.803 11.8415 187.476 19.4799 180.195 27.0939C174.768 32.7277 167.661 38.5368 166.097 46.57C166.012 46.9694 166.589 47.7294 166.979 47.347C175.255 39.2678 183.554 31.1179 191.831 23.0386C196.966 17.9724 205.394 11.5275 203.514 3.23858C203.209 3.22152 202.905 3.20446 202.6 3.1874C210.738 22.1305 219.733 40.6815 229.607 58.7697C229.899 59.3251 230.715 59.1912 230.42 58.5189C223.07 40.2846 215.765 22.0259 208.414 3.79161C208.071 3.02677 207.158 2.9756 207.455 3.76479Z' fill='black'/%3E%3Cpath d='M202.846 3.76704C203.351 37.0688 195.622 70.3314 180.566 100.004C164.185 132.323 139.164 159.793 108.668 179.33C90.8911 190.695 71.4437 199.334 51.0416 204.812C50.4132 204.965 50.9296 206.171 51.4411 206.02C87.6392 196.307 120.963 176.641 146.929 149.619C170.881 124.721 188.061 93.6951 196.911 60.3156C201.77 42.0377 204.092 23.2045 203.815 4.26152C203.781 3.74757 202.829 2.94862 202.846 3.76704Z' fill='black'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
}

section.sponsor {
  background: rgb(255, 255, 255);

  .content {
    padding: 2 0px 0;

    .imgPart {
      display: inline-block;
      position: relative;

      .sponsor_link {
        position: absolute;
        top: -60px;
        background-color: rgb(255, 255, 255);
        right: -200px;
        pointer-events: none;
        color: $color-rose;
        max-width: 497px;

        &::after {
          display: none;
        }
      }

      img {
        width: 100%;
        object-fit: contain;
        max-width: 590px;
        object-fit: cover;

        height: 100%;
      }
    }
  }

  @media (max-width: 1440px) {
    width: 100%;
    .content {
      padding: 0 60px;
    }
  }

  @media screen and (max-width: 872px) {

    .imgPart {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .sponsor_link{
      position: static;
      margin-top: 60px;
      left: 0;
      margin-bottom: 30%;
      max-width: 80%;
      padding: 0 15px;
    }

    img {
      position: static;
      display: block;
      margin-top: 30%;
    }
  }
}

section.events {
  .content {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    position: relative;

    &::after {
      position: absolute;
      bottom: -170px;
      z-index: 1;
      left: 23%;

      content: '';
      display: block;
      width: 30vw;
      height: 350px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(60deg);
      background-image: url("data:image/svg+xml,%3Csvg width='261' height='211' viewBox='0 0 261 211' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M207.455 3.76479C214.805 21.9991 222.11 40.2577 229.461 58.4921C229.716 58.4166 230.018 58.3167 230.274 58.2412C220.449 40.2455 211.503 21.7871 203.392 3.00718C203.219 2.5663 202.298 2.16438 202.478 2.956C204.459 11.547 194.038 18.9222 188.789 24.1079C181.223 31.5173 173.704 38.9024 166.138 46.3118C166.448 46.5627 166.757 46.8135 167.02 47.0888C168.647 38.7269 176.844 32.4038 182.407 26.58C189.23 19.4434 196.053 12.3068 202.9 5.2164C203.289 4.83399 202.542 3.75006 202.084 4.22746C194.803 11.8415 187.476 19.4799 180.195 27.0939C174.768 32.7277 167.661 38.5368 166.097 46.57C166.012 46.9694 166.589 47.7294 166.979 47.347C175.255 39.2678 183.554 31.1179 191.831 23.0386C196.966 17.9724 205.394 11.5275 203.514 3.23858C203.209 3.22152 202.905 3.20446 202.6 3.1874C210.738 22.1305 219.733 40.6815 229.607 58.7697C229.899 59.3251 230.715 59.1912 230.42 58.5189C223.07 40.2846 215.765 22.0259 208.414 3.79161C208.071 3.02677 207.158 2.9756 207.455 3.76479Z' fill='black'/%3E%3Cpath d='M202.846 3.76704C203.351 37.0688 195.622 70.3314 180.566 100.004C164.185 132.323 139.164 159.793 108.668 179.33C90.8911 190.695 71.4437 199.334 51.0416 204.812C50.4132 204.965 50.9296 206.171 51.4411 206.02C87.6392 196.307 120.963 176.641 146.929 149.619C170.881 124.721 188.061 93.6951 196.911 60.3156C201.77 42.0377 204.092 23.2045 203.815 4.26152C203.781 3.74757 202.829 2.94862 202.846 3.76704Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    .textPart {
      margin-top: 50px;
      max-width: 380px;
      width: 100%;

      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 22px;

        &:nth-child(2) {
          color: $color-rose;
        }
      }

      ul {
        max-width: 365px;

        li {
          padding-left: 20px;
          margin-bottom: 20px;
          position: relative;
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;

          &::before {
            content: '';
            position: absolute;
            top: 6px;
            left: 0;
            min-width: 10px;
            height: 10px;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.87936 7.51004C8.71006 3.35902 5.16318 0.0460055 0.71984 0.00702865C0.641887 -0.0124597 0.583422 0.00702864 0.524957 0.084982C-0.702809 2.85233 0.213142 7.35414 3.37025 8.50395C6.89765 9.80967 9.52857 5.85353 7.67718 2.93028C6.313 0.786563 2.00607 0.299354 2.10351 3.65135C2.14249 5.05451 2.99998 6.80846 4.36416 7.39311C5.78681 7.97776 7.8136 6.92539 7.85258 5.26888C7.87206 4.11907 6.91714 2.77437 5.68937 2.93028C4.03286 3.14465 4.24723 5.01554 4.69546 6.18484C5.00728 6.96437 5.20216 5.26888 5.00728 4.85963C5.33858 5.56121 4.9683 5.36633 5.57244 5.22991C5.76732 5.19093 5.92323 5.05451 6.11811 4.99605C6.313 4.93758 6.6443 4.97656 6.80021 4.89861C6.87816 4.91809 6.95611 4.93758 7.03406 4.95707C6.85867 4.82065 6.68327 4.66474 6.50788 4.52833C6.35197 4.52833 5.88425 5.17144 5.66988 5.28837C5.2996 5.50274 4.92932 5.56121 4.52007 5.54172C3.52616 5.48326 2.94151 4.60628 3.6236 3.78777C4.20825 3.0667 5.37756 3.02772 6.19607 3.28107C7.91104 3.78777 7.01458 5.36633 5.90374 6.08739C5.00728 6.67205 3.76002 6.92539 2.74663 6.53563C1.73323 6.12637 1.12909 5.17144 1.07063 4.09958C1.03165 3.45647 1.10961 2.2287 1.83068 1.99484C2.94151 1.62456 5.06574 2.75489 5.92323 3.30056C7.40434 4.25549 8.4762 5.5807 8.96341 7.27618C9.19727 8.15316 10.2691 8.91321 9.87936 7.51004Z' fill='%23DA368B'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }

    .imgPart {
      display: inline-block;
      position: relative;

      .events_link {
        position: absolute;
        top: -60px;
        left: -180px;
        pointer-events: none;
        background-color: $body-bcg;
        max-width: 340px;

        &::after {
          display: none;
        }
      }

      img {
        width: 100%;
        object-fit: contain;
        max-width: 428px;
        object-fit: cover;

        height: 100%;
      }
    }
  }

  @media screen and (max-width: 1440px) {
    .content{
      padding: 0 60px;
    }
  }

  @media screen and (max-width: 1040px) {
    .content {

      &::after {
        position: absolute;
        bottom: -97px;
        z-index: 1;
        left: 36%;
  
        content: '';
        display: block;
        width: 30vw;
        height: 350px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(30deg);
        background-image: url("data:image/svg+xml,%3Csvg width='261' height='211' viewBox='0 0 261 211' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M207.455 3.76479C214.805 21.9991 222.11 40.2577 229.461 58.4921C229.716 58.4166 230.018 58.3167 230.274 58.2412C220.449 40.2455 211.503 21.7871 203.392 3.00718C203.219 2.5663 202.298 2.16438 202.478 2.956C204.459 11.547 194.038 18.9222 188.789 24.1079C181.223 31.5173 173.704 38.9024 166.138 46.3118C166.448 46.5627 166.757 46.8135 167.02 47.0888C168.647 38.7269 176.844 32.4038 182.407 26.58C189.23 19.4434 196.053 12.3068 202.9 5.2164C203.289 4.83399 202.542 3.75006 202.084 4.22746C194.803 11.8415 187.476 19.4799 180.195 27.0939C174.768 32.7277 167.661 38.5368 166.097 46.57C166.012 46.9694 166.589 47.7294 166.979 47.347C175.255 39.2678 183.554 31.1179 191.831 23.0386C196.966 17.9724 205.394 11.5275 203.514 3.23858C203.209 3.22152 202.905 3.20446 202.6 3.1874C210.738 22.1305 219.733 40.6815 229.607 58.7697C229.899 59.3251 230.715 59.1912 230.42 58.5189C223.07 40.2846 215.765 22.0259 208.414 3.79161C208.071 3.02677 207.158 2.9756 207.455 3.76479Z' fill='black'/%3E%3Cpath d='M202.846 3.76704C203.351 37.0688 195.622 70.3314 180.566 100.004C164.185 132.323 139.164 159.793 108.668 179.33C90.8911 190.695 71.4437 199.334 51.0416 204.812C50.4132 204.965 50.9296 206.171 51.4411 206.02C87.6392 196.307 120.963 176.641 146.929 149.619C170.881 124.721 188.061 93.6951 196.911 60.3156C201.77 42.0377 204.092 23.2045 203.815 4.26152C203.781 3.74757 202.829 2.94862 202.846 3.76704Z' fill='black'/%3E%3C/svg%3E%0A");
      }
    }

    .textPart {
      padding: 0 60px;
      li {
        font-size: 8px !important;//TODO: help, i can't rewrite even with important 
      }
    }

    .imgPart {
      height: 80%;
    }
  }
}

@media screen and (max-width:767px) { //TODO: anyway, field remains. I cant find what is this.
  section.events {
    display: none;
  }
}

//TODO: when the size of wp 767px - there is a white streak on the right side o_o
