@import '../../../variable';

.cartPage {
  display: flex;

  .cartResult {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: $color-grey-bcg;
    margin-left: 30px;
    min-width: 300px;
    margin-bottom: 30px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .title {
        font-weight: normal;
        font-size: 30px;
        line-height: 41px;
      }

      .info {
        font-size: 30px;
        line-height: 41px;
        white-space: nowrap;
      }

      &:last-child {
        margin-top: auto;
        margin-bottom: 0;

        .title {
          font-weight: 900;
          font-size: 30px;
          line-height: 41px;
        }

        .info {
          font-weight: 900;
        }
      }
    }
  }

  .goToSecondStep {
    height: 80px;
    min-height: 80px;
    min-width: 280px;
  }
}

.CartRouteLinks {
  display: flex;
  margin-bottom: 70px;
  margin-top: 30px;

  a {
    font-family: Butler Stencil;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      display: inline-block;
      width: 32px;
      height: 17px;

      margin: 0 10px 5px;

      transform: scaleX(-1);
      mask: url('/img/icon_arrowLeft.svg') repeat-x left / contain;
      -webkit-mask: url('/img/icon_arrowLeft.svg') repeat-x left / contain;
      background-color: black;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  .ActiveLink {
    color: $color-rose;

    &::after {
      background-color: $color-rose;
    }
  }

  .DisabledLink {
    pointer-events: none;
    color: unset;

    &::after {
      background-color: black;
    }
  }
}

.NothingTitle {
  margin: 100px auto;
  text-align: center;
}

.CartList {
  max-width: 770px;
  width: 100%;

  .cartCard {
    display: flex;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;

    &:after {
      content: '';
      position: absolute;
      bottom: -10px;
      background-image: url('/img/cart_underline.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: block;
      width: 100%;
      height: 3px;
    }

    .img {
      height: 180px;
      min-width: 180px;
      width: 180px;
      margin-right: 20px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .infoList {
      margin-right: 20px;

      p {
        font-family: Nunito;
      }

      .Name {
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
      }

      .author {
        margin-top: 10px;
        font-size: 14px;
        line-height: 16px;
      }

      .price {
        margin-top: 20px;
        font-weight: normal;
        font-size: 30px;
        line-height: 27px;
      }
    }

    .crossBtn {
      margin: 12px 20px 0 auto;
      display: block;
      height: 18px;
      min-width: 18px;
      width: 18px;
      background-color: $color-rose;
      cursor: pointer;
      transition: 0.2s ease;
      mask: url('/img/crossBtn.svg') no-repeat center / contain;
      -webkit-mask: url('/img/crossBtn.svg') no-repeat center / contain;

      &:hover {
        background-color: black;
      }
    }
  }
}

.cartForm {
  display: flex;

  .cartFormWrapper {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    width: 100%;
  }

  .submit {
    margin-top: 30px;

    height: 80px;
    min-height: 80px;
    min-width: 285px;

    font-size: 22px;
    line-height: 27px;
  }

  .cartFormItem {
    margin-bottom: 40px;
  }

  .radioBtnPart {
    max-width: 570px;
    width: 100%;
    margin-left: 30px;

    fieldset {
      background-color: $color-white-bcg;
      border: 0;
      padding: 24px;
      margin: 0;
      min-width: 0;
      display: flex;
      flex-direction: column;

      legend {
        display: contents;
        padding: 0;
        font-family: Butler Stencil;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        color: $color-rose;
      }

      .radioWrapper {
        margin-top: 16px;

        label {
          font-weight: normal;
          font-size: 20px;
          line-height: 27px;
        }

        .custom {
          position: absolute;
          z-index: -1;
          opacity: 0;
          transition: 0.2s ease;

          & + label {
            display: inline-flex;
            align-items: center;
            user-select: none;
          }

          & + label::before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid $color-grey-bcg;
            border-radius: 50%;
            margin-right: 12px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            transition: 0.2s ease;
            background-color: rgba(0, 0, 0, 0.03);
          }

          /* hover*/
          &:not(:disabled):not(:checked) + label:hover::before {
            border-color: $color-grey-bcg;
          }

          /* active */
          &:not(:disabled):active + label::before {
            background-color: $color-grey-bcg;
            border-color: $color-grey-bcg;
          }

          /* focus */
          &:focus + label::before {
            box-shadow: 0 0 0 0.2rem $color-grey-bcg;
          }

          /* focus & not checked */
          &:focus:not(:checked) + label::before {
            border-color: $color-grey-bcg;
          }

          /*  checked */
          &:checked + label::before {
            border-color: $color-rose;
            background-color: $color-rose;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
          }

          /*  disabled */
          &:disabled + label::before {
            background-color: #e9ecef;
          }
        }
      }
    }

    body:not(:-moz-handler-blocked) fieldset {
      display: table-cell;
    }
  }
}

.Summary {
  display: flex;

  .CartSummary {
    max-width: 570px;
    width: 100%;
    background: rgba(196, 196, 196, 0.2);
    padding: 24px;
    margin-right: 30px;

    ul {
      display: flex;
      flex-direction: column;
    }

    .cartCard {
      display: flex;
      position: relative;
      margin-bottom: 20px;

      &:after {
        content: '';
        position: absolute;
        bottom: -10px;
        background-image: url('/img/cart_underline.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
        width: 100%;
        height: 3px;
      }

      .img {
        width: 64px;
        overflow: hidden;
        margin-right: 12px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .infoList {
        display: flex;
        flex-direction: column;
        width: 100%;

        .Name {
          font-weight: 900;
          font-size: 14px;
          line-height: 27px;
          margin-bottom: 10px;
        }

        .author {
          font-size: 14px;
          line-height: 24px;
        }

        .price {
          margin-top: auto;
          margin-left: auto;
          padding-bottom: 15px;
        }
      }
    }

    a {
      display: none;
    }

    .CartSummaryResult {
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        .title {
          max-width: 170px;
          font-size: 20px;
          line-height: 27px;
        }

        .info {
          font-size: 20px;
          line-height: 27px;
        }
      }
    }
  }

  .SummaryInfo {
    display: flex;
    flex-direction: column;

    h3 {
      font-weight: 900;
      font-size: 30px;
      line-height: 41px;
      margin-bottom: 24px;
    }

    p {
      display: inline-block;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 12px;
    }

    .delivery {
      position: relative;
      margin-bottom: 16px;

      &:after {
        content: '';
        position: absolute;
        bottom: -10px;
        background-image: url("data:image/svg+xml,%3Csvg fill='none' height='7' viewBox='0 0 240 7' width='240' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.831163 6.48343c61.783137 1.06445 123.565837.48384 185.256837-1.74182 17.732-.67737 35.463-1.35474 53.195-2.32242 1.016-.09677.923-2.41919-.093-2.41919-61.69 3.09657-123.474 4.64485-185.1644 4.54808-17.7315 0-35.463-.19354-53.194437-.48384-1.108217 0-1.108217 2.41919 0 2.41919z' fill='%23000'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
        width: 100%;
        height: 8px;
      }
    }
  }
}

.sendRequest {
  margin-top: 80px;

  .customCheckbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: 0.2s ease;

    & + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    & + label::before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid transparent;
      transition: 0.2s ease;
      margin-right: 12px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      background-color: $color-grey-bcg;
    }

    &:checked + label::after {
      content: '';
      position: absolute;

      display: inline-block;
      width: 28px;
      height: 35px;
      background-image: url("data:image/svg+xml,%3Csvg fill='none' height='35' viewBox='0 0 28 35' width='28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.141097 15.1576c3.565593 6.524 7.121943 13.048 10.687503 19.5629.6097 1.1192 1.1085-1.4649 1.0808-1.7561-.4526-4.8498 4.9327-11.9743 7.2882-16.1325 2.6881-4.7315 5.5793-9.35383 8.5999-13.88514.4896-.73702.0185-3.739693-.6374-2.7479-3.9073 5.84157-7.5653 11.83784-10.9184 18.00694-2.5957 4.7861-6.2352 9.9361-5.7087 15.5684.3603-.5823.7205-1.1738 1.0808-1.7561-3.57483-6.5331-7.13118-13.048-10.696772-19.572-.554237-1.01-1.210083 1.9199-.775931 2.7115z' fill='%23da368b'/%3E%3C/svg%3E");
    }

    /* стили при наведении курсора на checkbox */
    &:not(:disabled):not(:checked) + label:hover::before {
      border-color: $color-rose;
    }
  }

  label {
    display: inline;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    margin-left: 12px;

    a {
      display: inline;
      margin-left: 4px;
      color: $color-rose;
    }
  }

  .sendRequestBtn {
    margin-top: 80px;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    height: 80px;
    min-height: 80px;
    min-width: 285px;
  }
}
