* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
}

h2 {
  font-family: 'Butler Stencil';
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
}
