@import 'src/styles/variable';

.linkList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;

  .link {
    //margin: 0 20px;
    a {
      padding: 20px;
      font-weight: normal;
      font-size: 30px;
      line-height: 41px;
      text-transform: uppercase;
      color: black;
      white-space: nowrap;
      transition: color 0.2s ease;
      @media (max-width: 1300px) {
        padding: 15px;
        font-size: 24px;
        line-height: 33px;
      }
      @media (max-width: 1024px) {
        font-size: 18px;
        line-height: 25px;
      }
      @media (max-width: 800px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    a:hover {
      color: $color-rose;
    }

    .activeLink {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .activeLink.events {
      background-image: url('/img/hoverBcg/events.svg');
    }

    .activeLink.about {
      background-image: url('/img/hoverBcg/about.svg');
    }

    .activeLink.shop {
      background-image: url('/img/hoverBcg/shop.svg');
    }

    .activeLink.contact {
      background-image: url('/img/hoverBcg/contact.svg');
    }

    &:first-child {
      @media (max-width: 1300px) {
        a {
          padding-left: 0;
        }
      }
    }
  }
}

.cart {
  display: inline-flex;

  transition: 0.2s ease;
  align-items: center;
  position: relative;
  .iconCart {
    display: inline-block;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    background-color: $color-rose;
    mask: url('/img/icon_cart.svg') no-repeat center / contain;
    -webkit-mask: url('/img/icon_cart.svg') no-repeat center / contain;
    transition: background-color 0.2s ease;
    margin-right: 3px;
    @media (max-width: 767px) {
      width: 35px;
      min-width: 35px;
      max-width: 35px;
      height: 35px;
    }
  }

  .counter {
    right: -20px;
    position: absolute;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: $color-rose;
    transition: color 0.2s ease;
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
      right: -10px;
    }
  }

  &:hover {
    .iconCart {
      background-color: black;
    }

    .counter {
      color: black;
    }
  }
}
